@font-face {
  font-family: game-font;
  src: url(https://cdn.jsdelivr.net/gh/max32002/kurewa-gothic@1.071/webfont/CJK%20TC/KurewaGothicCjkTc-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}