$pcTop: 57px; //pc nav圖片margin_bottom
$pcGround: 130px; //pc footer margin_top
$pcbtwSec: 80px;
$mbBsec: 60px; // mb footer/header/section
$mbSsec: 40px; // mb smallsection
$mbbtwElement: 35px; // mb element跟element之間距

// layout width
$fixed: 1200;

// 斷點
$sm: 576px;
$md: 768px;
$lg: 996px;
$xl: 1200px;
